{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | todo:titre de la serie
{% endblock %}

{% block body %}
    <h3> titre de la serie </h3>

    todo : info de la serie


{% endblock %}

