{% extends 'base.html.twig' %}

{% block body %}
    <div>
        todo :formaulaire création série
    </div>
{% endblock %}

{% block title %}
    Creer une nouvelle série | {{ parent() }}
{% endblock %}

